.card-container {
    display: flex;
    flex-direction: column;
    background-color: #d3e631;
    border: 5px solid rgb(160, 151, 151);
    border-radius: 10px;
    padding: 25px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
}

.card-container:hover {
    transform: scale(1.05);
}

img {
    border: 5px solid grey;
    border-radius: 10px;
    background-color: beige;
    height: 200px; 
    width: auto; 
    max-width: 150px; 
    max-height: 300px;
}
